.App {
}

.black-nav {
  display: flex;
  background: rgb(51, 13, 139);
  width: 100%;
  color: white;
  padding-left: 20px;
}

.list {
  padding-left: 20px;
  border-bottom: 1px solid gray;
}


.modal {
  padding: 20px;
  background: rgb(211, 211, 211);
}